*{
    max-width: 700px;
    margin: 0 auto;
    border: 0px solid #dcc2c2;
    padding: 2px;
    
  }
div{
   
    padding: 16px;
    margin:5px;
}
div.ul{
    
    margin: 15px;
    padding: 16px;
}
footer {
    text-align: center;
    padding: 3px;
    background-color: rgb(51, 148, 148); 
    color: white;
  }
  